@import url('https://fonts.googleapis.com/css2?family=Ephesis&family=Gemunu+Libre:wght@200&display=swap');

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    font-size: 62.5%;
}

.section-1-container {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: #323;
    justify-content: space-between;
    padding: 10rem 0;
}

.heading {
    text-align: center;
    font-size: 6rem;
    font-weight: 900;
    color: #fff;
    letter-spacing: .3rem;
    text-shadow: .2rem .3rem .3rem #000;
}

.main-card {
    display: flex;
    justify-content: space-evenly;
    padding: 15px;
}

.card {
    width: 20rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: rgb(243, 193, 119);
    padding: 3rem;
    position: relative;
    transform: rotateY(14deg) skewX(-1deg);
    box-shadow: 1rem 1rem 1rem #000;
    transition: transform .3s, box-shadow .3s;
}

.card:hover {
    transform: rotateY(180deg) skewX(-1deg) translateY(-1.5em);
    background: linear-gradient(to bottom, #ff0000 0%, #ff9a00 10%, #d0de21 20%, #4fdc4a 30%, #3fdad8 40%, #2fc9e2 50%, #1c7fee 60%, #5f15f2 70%, #ba0cf8 80%, #fb07d9 90%, #ff0000 100%) repeat 0% 0% / 300% 100%;
}

.card::before {
    content: '';
    height: 100%;
    width: 1rem;
    background: #d0c2d4;
    position: absolute;
    left: -1rem;
    top: 0;
    transform: skewY(45deg);
    transform-origin: right;
    box-shadow: -.1rem -.1rem .1rem #000;
}

.card::after {
    content: '';
    height: 1rem;
    width: 100%;
    background: #9b7fa3;
    position: absolute;
    left: 0;
    top: -1rem;
    transform: skewX(45deg);
    transform-origin: bottom;
    box-shadow: -.1rem -.1rem .1rem #000;
}

.card img {
    width: 100%;
}

h4 {
    font-size: 1.2rem;
    font-weight: 900;
    letter-spacing: 0.3rem;
    text-transform: uppercase;
    margin: 2rem 0;
    color: #111;
    text-shadow: .1rem .1rem .1rem #000;
}

.order {
    background-color: #111;
    color: #888;
    border: none;
    border-radius: 5px;
    padding: .2rem 0;
    font-weight: 900;
    font-size: 1rem;
    width: 60%;
    box-shadow: .1rem .1rem .1rem #000;
}


/* Section 2 started */

.section-2-container {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10rem 0;
    perspective: 600px;
}

.main-div {
    display: flex;
    justify-content: center;
}

.float-card {
    transform-style: preserve-3d;
    width: 20rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 5px;
    padding: 2rem 0;
    box-shadow: .1rem .1rem .1rem #111, -.1rem 0rem 0rem #111;
    transition: all 0.5s ease;
}

.icon {
    min-height: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.images {
    width: 5rem;
    z-index: 2;
    position: absolute;
    transition: all 0.75s ease-in-out;
}

.img-circle {
    height: 6rem;
    width: 6rem;
    background-color: #bbb;
    border-radius: 50%;
    z-index: 1;
    box-shadow: .1rem .1rem .1rem #222;
}

.card-elements {
    display: flex;
    flex-direction: column;
    margin: 2rem 0;
    padding: 0 2rem;
}

.title {
    transition: all 0.75s ease-in-out;
    font-family: 'Ephesis', cursive;
}

.description {
    font-size: 1.3rem;
    transition: all 0.75s ease-in-out;
    font-family: 'Gemunu Libre', sans-serif;
}

.size {
    padding: 1rem 0 0;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.size-btn {
    height: 1.1rem;
    width: 2rem;
    border-radius: 40%;
    font-size: .6rem;
    font-weight: bold;
    border: none;
    background: lightblue;
    cursor: pointer;
}

.active {
    background-color: gray;
    cursor: pointer;
}

.purchase {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: green;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: .2rem .4rem;
    text-transform: capitalize;
    font-weight: 900;
    font-size: 1rem;
    box-shadow: .1rem .1rem .1rem #222;
    transition: all 0.75s ease-in-out;
}